@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?24360665');
  src: url('../font/fontello.eot?24360665#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?24360665') format('woff2'),
       url('../font/fontello.woff?24360665') format('woff'),
       url('../font/fontello.ttf?24360665') format('truetype'),
       url('../font/fontello.svg?24360665#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24360665#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-cancel-1:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-cancel-2:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-trash-empty:before { content: '\e80a'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-cog-1:before { content: '\e80d'; } /* '' */
.icon-cog-2:before { content: '\e80e'; } /* '' */
.icon-heart:before { content: '\e810'; } /* '' */
.icon-heart-empty:before { content: '\e811'; } /* '' */
.icon-flashlight:before { content: '\e812'; } /* '' */
.icon-plus-1:before { content: '\e813'; } /* '' */
.icon-cog-3:before { content: '\e814'; } /* '' */
.icon-arrows-ccw:before { content: '\e815'; } /* '' */
.icon-arrows-cw-1:before { content: '\e816'; } /* '' */
.icon-cw:before { content: '\e817'; } /* '' */
.icon-arrows-cw-2:before { content: '\e818'; } /* '' */
.icon-arrows-cw-3:before { content: '\e819'; } /* '' */
.icon-volume-down:before { content: '\e81a'; } /* '' */
.icon-volume-up:before { content: '\e81b'; } /* '' */
.icon-help:before { content: '\e81c'; } /* '' */
.icon-moon-1:before { content: '\e81d'; } /* '' */
.icon-sun:before { content: '\e81e'; } /* '' */
.icon-menu-1:before { content: '\e81f'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-check-empty-1:before { content: '\f096'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sun-1:before { content: '\f185'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */