html {
    font-size: 100%;
    overflow-y: scroll;
    /* -webkit-text-size-adjust: 100%; */
    /* -ms-text-size-adjust: 100%; */
}

/* Bootstrapping */
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

/* Petrolette */
body {
    /* font-size:.8em !important; */
    margin:0 !important;
}

@font-face {
    font-family: LobsterRegular;
    src: url('/static/font/Lobster.otf') format("opentype");
    src: url('/static/font/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('/static/font/ubuntu/Ubuntu-R.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* TABS */

li.mobTab,
#newTabButton {
    margin: 0 0 0 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: inset 4px 0px 6px -4px rgba(0,0,0,0.19) !important;
}

.tabCloser {
    display: none;
}
/* FEEDS */

.ui-tabs-panel {
    padding:0 !important;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spin {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}

#waitScreen > .spin {
  animation: spin-animation 2s infinite;
  font-size: 400%;
}

.rotate {
    display:inline-block;
    cursor:pointer;
    transition: all .2s linear;
}

.rotate.down {
    transform: rotate(-90deg);
}

.rotate.right {
  transform: rotate(180deg);
}

.rotate.close {
    transform: rotate(-180deg);
}

/* Fontello */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
  margin: 0;
}

.tab  {
    border: none !important;
    margin:0 !important;
}

#tabs li .ui-icon-close {
    /* float: left; */
    /* margin: 0.4em 0.2em 0 0; */
    cursor: pointer;
}

.newFeedButton {
    position: absolute;
    text-align: center;
    cursor: pointer;
    /* float: right; */
    top: 0px;
    right: .2em;
    width: 78px;
    height: 78px;
}

.newFeedButton > p {
    margin: 6px -92px 5px auto;
    vertical-align:middle;
}

.newFeedButton > p > span.plus {
    font-weight: normal;
}

.newFeedButton > p > span.text {
    position: relative;
    top: 5px;
    opacity: 0.1;
    font-size: 1em;
    font-weight: bold;
}

/* Feed */
ul.tabSort {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items:flex-start; */
    /* padding-bottom: 0px !important; */

    /* column-count: 3; */
    /* columns: 15em; */
    /* column-gap: .3em; */
    padding: 0 .2em .2em;
    columns: 18rem;
    column-gap: .3em;
    min-height:30px;
}

li.feed {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;

  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  break-inside: avoid;
  vertical-align:top;
  margin: .2em 0 0 0;
  /* break-inside: avoid-column; */
  /* padding: 5px; */
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer !important;
}

.selected,
li.feed {
    width: 100%;
    min-height:20px !important;
}

.feedBody {
    margin: 0;
}

.selected {
    opacity: 0.5;
}

/* Item */

li.feedItem {
  font-size: 10pt  !important;
}

li.feedItem a {
  text-decoration: none;
}

li.feedItem a:hover {
  /* text-decoration: underline; */
}

li.feedItem:not(.error) a {
  display: block;
  width:100%;
}

li.feedItem {
    padding: .2rem;
}

div.feedItem img {
  max-width:30%;
  float:left;
  margin: 0 .2rem .2rem 0; /* Some gutter */
}

div.feedItem img.full {
    min-width:100%;
}

li.feedItem {
    border:0 !important;
}

/* Theme Overrides */
.ui-widget-content,
.ui-widget-header {
    border: none !important;
}

.feed {
  border: #7a7a7a 1px solid !important;
  padding: 0;
}

.feed:hover {
  border: #8b8b8b 1px solid !important;
}

.introjs-helperLayer {
  background-color: rgba(255,255,255,.1) !important;
}

.introjs-helperNumberLayer {
  position: absolute !important;
  top: -16px !important;
  left: -9px !important;
  z-index: 9999999999 !important;
  padding: 2px !important;
  font-family: Arial, verdana, tahoma !important;
  font-size: 13px !important;
  font-weight: bold !important;
  color: #fff !important;
  background: #DA4433 !important;
  width: 20px !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.35) !important;
  height: 20px !important;
  text-align: center !important;
  line-height: 20px !important;
  border: 2px solid #DA4433 !important;
  border-radius: 0 !important;
}

.introjs-helperNumberLayer::after {
  content: "" !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  content: 0 !important;
  left: -3px !important;
  bottom: -10px !important;
  border: 4px solid transparent !important;
  border-right-color: #900 !important;
  border-top-color: #900 !important;
}

div.wiki {
  float:right;
}

div.wiki i:hover {
  color: green;
}

i.feedIcon {
  background-image:url("/static/images/feed-generic-rss.png");
}

#loadRadial {
  position:fixed;
  right:3vw;
  bottom:5vh;
  opacity:0.8 ;
}
