:root {
  --ui-bg-color-pri: #373737;
  --ui-color-pri: #f4f4f4;
  --ui-color-sec: #FF4B03;
  --ui-color-ter: #C0B283;
  --ui-color-qua: #29323c;

  --var-header-height: 26px;
  --var-controls-width: 150px;
  --var-controls-font-size: 16pt;
  --var-controls-toggle-size: 18px;
  --var-controls-flex-basis: 100px;
  --dialog-flex-direction: row;

  --handle-flex-shrink: 0;
  --handle-visibility: visible;

  --title-margin-left: 4px;

  --ui-bg-color-danger: #C63D0F;
  --ui-color-danger: #FF4136;
  --ui-color-success: #4db53c;

  --color-danger: #000000;
}

@media screen and (max-width: 700px) {
  :root {
    --var-header-height: 42px;
    --var-controls-width: 75%;
    --var-controls-font-size: 29pt;
    --var-controls-toggle-size: 36px;

    --var-controls-flex-basis: 60px;
    --dialog-flex-direction: column;

    --handle-flex-shrink: 1;
    --handle-visibility: collapse;

    --title-margin-left: 0;
  }
}


/* Petrolette */
body {
  /* font-size:.8em !important; */
  margin:0 !important;
}

html,
body,
main {
  background-color: var(--bg-color-ter) !important;
  color: var(--color-pri) !important;
}

#gallerySpeedSlider,
#feedLimit {
  margin-right: 0;
}

@font-face {
  font-family: LobsterRegular;
  src: url('/static/font/Lobster.otf') format("opentype");
  src: url('/static/font/Lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: BebasNeueRegular;
  src: url('/static/font/BebasNeue.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

.div-fake-hidden {
  width:0px;
  height:0px;
  overflow:hidden;
}

.LobsterRegular {
  font-family: 'LobsterRegular';
}

.BebasNeueRegular {
  font-family: 'BebasNeueRegular';
}

input {
  margin:0;
  padding: .4em;
}

.notifyjs-bootstrap-base {
  background-color: var(--bg-color-sec) !important;
  border-color: var(--bg-color-ter) !important;
  text-shadow: none !important;
}

.notifyjs-bootstrap-base.notifyjs-bootstrap-success {
  color: var(--ui-color-success) !important;
}

.notifyjs-bootstrap-base.notifyjs-bootstrap-error {
  color: var(--ui-color-danger) !important;
}

input#feedGuess {
  margin-right: .4em;
}

.deadCenter {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  text-align:center;
}

.hidden {
  display:none !important;
}

#noSourcesButton > div {
  color: var(--color-pri) !important;
  font-size: 12pt;
}

#noSourcesButton > div > i {
  line-height: 0;
  color: #8d94a5 !important;
  font-size: 8em;
}

#noSourcesButton > div > div {
  margin: 2em 0 0 0;
  color: var(--color-pri) !important;
  font-size: 12pt;
}

li.ui-tabs-active,
li.mobTab:first-child {
  box-shadow: none !important;
}

#tabUl,
#tabs {
  background: none;
  border-radius: 0;
}

li.mobTab {
  background-color: var(--bg-color-sec) !important;
}

p.dialog > a:link {
  color: var(--color-pri) !important;
}

p.dialog > a:visited {
  color: var(--color-pri) !important;
}

select {
  width:100%;
  height: 30px;
}

/* legend { */
/*   font-family: 'KaushanScriptRegular' !important; */
/*   font-weight: normal; */
/*   font-style: italic; */
/*   font-size:120% !important; */
/*   padding: .2em .8em .2em .4em; */
/* } */

fieldset > p {
  margin: 0  0 .2em 0;
}

fieldset a:link {
  color: var(--ui-color-pri);
}

fieldset a:visited {
  color: var(--ui-color-ter);
}

fieldset,
legend {
  background: none !important;
  /* background-color: var(--bg-color-pri) !important; */
  color: var(--ui-color-pri);
  /* font-size:76% !important; */
}

legend {
  font-size: 9pt;
}

fieldset {
  /* border: 1px solid #BFD8D1 !important; */
  /* font-size:76% !important; */
}

#progressBar {
  position:absolute;
  /* float: left; */
  z-index: 9 !important;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: grey; */
}

#progressBar > #cursor {
  width: 1%;
  height: 2px;
}

#menu {
  /* border-right: #2e2e2e solid 1px; */
  padding:.5em;
  border: none !important;

  position: fixed;
  width: 275px;
  transition: all 150ms ease-out;
  height: 100%;
  top: 45px;
  left: -291px;
}

#logo > h1 {
  font-family: 'LobsterRegular';
  font-weight: normal;
  font-style:  normal;
  font-size:   38pt;
  margin:      0 0 .2em .2em;
  color:       #F1E5D1;
  text-shadow: 1px 1px #3C2413;
}

.baseline {
  font-family: "Times New Roman",Bodoni,Garamond,"Minion Web","ITC Stone Serif","MS Georgia", serif;
  /* font-variant: small-caps; */
  position: absolute;
  /* font-style: oblique; */
  /* color: var(--ui-color-ter); */

  width: 100%;
  text-align: center;
  font-size: 10.5pt;
  /* margin: 6px 0 0 10px; */
  left: 3px;
  color: #2f220a;
}

.baseline > span {

  text-shadow: #FC0 1px 0 10px;
}

#baselineQ {
  top: 7px;
}

#baselineA {
  top: 66px;
}

#menu.expanded {
  left: 0px;
}

#menu,
#myTopnav,
.ui-dialog,
.ui-dialog .ui-dialog-buttonpane,
.handle {
  background: #29323c;
}

.ui-dialog .ui-dialog-buttonpane {
  margin: 0 !important;
}

.tabCloser {
  font-size: .9em;
  margin: 0 .1em 0 -1em;
  cursor:pointer;
}

#tabs .newFeed,
#menu > .handle {
  font-size: 2rem;
  position:absolute;
}

#tabs .newFeed {
  right:0;
  top: 20vh;
}

#menu > .handle {
  left:290px;
  bottom: 20vh;
}

#menu > .handle > i {
  border: none !important;
  line-height: 0 !important;
}

#menu {
  animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

button#feedGuess,
.ui-spinner {
  margin: 0;
}

fieldset.menuForm {
  height: 100%;
  display: -webkit-flex;
  justify-content: space-between;
}

fieldset {
  margin: 0 0 .5em 0;
  width: -moz-available;
  padding-bottom: .4em;
  padding-left: .4em;
  padding-right: .4em;
}

.flexBox {
  width:-moz-available;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ui-widget .ui-widget {
  font-size: 12pt !important;
}

.ui-widget-header {
  background: none;
  color: var(--ui-color-sec);
  font-weight: bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid transparent;
}

.ui-state-active,
.ui-button:active {
  background: var(--ui-color-sec) !important;
  color: var(--ui-color-qua) !important;
}

.ui-icon-background, .ui-state-active .ui-icon-background {
  border: var(--ui-color-success);
  background-color: var(--ui-color-pri);
}

.ui-button.ui-state-active:hover {
  border: 1px solid var(--ui-color-ter) !important;
}

.ui-state-success {
  background-color: var(--ui-color-success) !important;
}

.ui-state-error {
  color: var(--ui-color-danger) !important;
  background-color: var(--ui-bg-color-pri) !important;
}

.ui-visual-focus {
  box-shadow: 0 0 3px 1px var(--ui-color-pri);
}

.flexBox > label {
  flex: 1;
}

#menu .flexBox > * {
  margin-bottom: .4em;
}

.shrink {
  flex: 0 1 4em !important;
}

.unique {
  flex: 1 100%;
  margin-right: 0 !important;
}

.twin {
  flex: 1;
}

/* span.ui-spinner, */
/* .ui-button { */
/*   margin-right: .4em; */
/*   margin-bottom: .4em; */
/* } */


.grow {
  flex: 1 0 auto !important;
  margin-right: .4em;
}

.last {
  margin-right: 0;
}

span.ui-spinner,
.last {
  margin-right: 0;
}

label:last-child {
  margin-bottom: 0 !important;
}

.bottom {
  margin-bottom: 0;
}

/* .prefsForm > *:not(p) { */
/*     width: 100%; */
/* } */

div.testFlex {
  display:flex;
}

#spinner {
  width: 2rem;
}

.ui-slider {
  height: 32px;
  margin-right: .4em;
}

.ui-slider-handle {
  height: 38px !important;
  min-width: 38px;
  line-height: 38px;
  text-align: center !important;
}

.noBottom {
  margin-bottom:0;
}

.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
}

/* WTF */

#logo > h1 {
  font-family: 'LobsterRegular';
  font-weight: normal;
  font-style:  normal;
  font-size:   38pt;
  margin:      0 0 .2em .2em;
  color:       #F1E5D1;
  text-shadow: 1px 1px #3C2413;
}

#logo > .petrolette,
.ui-dialog-content .petrolette {
  color:     #84A6CB;
  cursor:pointer;
  font-size: 3.5rem  !important;
  margin:    -2px 0 0 0 !important;
}

#logo > .petrolette:hover {
  color:     var(--ui-color-sec);
}

.ui-dialog-content .petrolette {
  display: inline !important;
  font-size: 1.5rem !important;
}

#killDialog .petrolette {
  color:     red;
  font-size: 3.5rem  !important;
}

#logo {
  display: flex;
}

/* Wait screen */

#waitScreen{
  background-color: #7C818C;
}

#waitScreen > .wspinner {
  width: 200px;
  height: 200px;
  margin: 30% auto;
  background-color: #7395AE;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

#questionDialog > p {
  font-family: 'GrobeDeutschmeisterRegular';
  font-size: 4em;
  text-align:center;
}

button.dangerous:hover {
  /* border-color: #2B374B !important; */
  background-color: var(--ui-bg-color-danger) !important;
  border: 1px solid var(--ui-color-qua);
}

i.dangerous:hover {
  color: var(--ui-bg-color-danger) !important;
  /* color: #2B374B !important; */
}

.ui-dialog .ui-dialog-titlebar-help {
  /* position: absolute; */
  right: 2em;
  /* top: 50%; */
}

#tabs {
  white-space: nowrap;
  overflow: hidden;
}

#tabs > ul {
  overflow: auto;
  overflow-y: hidden;
}

#tabs > ul > li {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.tabSort {
  white-space: initial;
}

.droppableCopy:hover {
  cursor: copy !important;
}

.ui-dialog.ui-corner-all {
  border-radius: 0px !important;
}

img.warning {
  vertical-align:middle;
  width:10em;
}

p.dialog-warning {
  font-size:26pt;
}

div.dialog {
  display:flex;
  flex-direction: var(--dialog-flex-direction);
}

div.dialog > div {
  flex: 1 1 auto;
}

div.dialog > div.icon {
  flex: 0 0 200px;
}

div.dialog > div.content {
  padding: 0 0 0 .2em;
  font-size:26pt;
}

div.dialog > div.content p {
  margin:0 0 .5em 0;
}

div.dialog > div.content p.name {
  font-size: .5em;
  color: var(--ui-color-ter) !important;
}

div.dialog > div.content p.value {
  font-size: .8em;
  color: var(--ui-color-pri) !important;
}

/* Hacks & workarounds */

/* Feed controls */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobHeader {
  /* min-height:20px; */
  height: var(--var-header-height);

  max-height: var(--var-header-height);
  display: flex;
  flex-direction:row;
  /* align-content: stretch; */
  padding:0;
}

.flexGrow {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  flex-basis: var(--var-controls-flex-basis) !important;
}

.open {
  transform: rotate(180deg);
}


.mobHeader > div {
  transition: all 700ms;
}

.mobHeader > .feedToggle {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  margin: .2rem;
  width : var(--var-controls-toggle-size);
}

.feedIcon {
  width: var(--var-controls-toggle-size);
  height: var(--var-controls-toggle-size);
  background-size: var(--var-controls-toggle-size);
  background-image: url("/static/images/feed-generic-rss.png");
  background-repeat: no-repeat;
}

.tabSort .ui-sortable-placeholder {
  visibility: visible !important;
  border: 3px dashed var(--ui-color-pri) !important;
}

.feedToggle > .ui-icon {
  margin: .1rem .2rem 0 .1rem;
}

.mobHeader > .feedTitle {
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: var(--title-margin-left);
  color: var(--color-ter);
  /* margin: .2em 0; */
  font-size: var(--var-controls-font-size);

  font-family: 'BebasNeueRegular';
  font-weight: normal;
  font-style: italic;
}

.ui-tabs-active a {
  color: var(--color-qua) !important;
}

.mobHeader > .feedHandle {
  flex-grow: 0;
  flex-shrink: var(--handle-flex-shrink);
  flex-basis: 4px;
  cursor:move;

  visibility: var(--handle-visibility);

  /* background: linear-gradient(90deg, var(--bg-color-pri) 4px, transparent 1%) center, linear-gradient(var(--bg-color-pri) 4px, transparent 1%) center, var(--bg-color-ter); */
  /* background-size: 6px 6px; */

  /* background-position: 0 2px; */

  background-color: transparent;
  border-left: 3px dotted var(--bg-color-ter);
  border-right: 3px dotted var(--bg-color-ter);
}

.mobHeader > .feedHandle:hover {
  border-color: var(--ui-color-sec);
}

/* .feedSelect { */
/*   visibility: var(--handle-visibility); */
/* } */

.mobHeader > .feedHandle > div {
}

.mobHeader > .myControlsToggleDiv {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.mobHeader > .feedControls {

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;
  /* overflow:hidden; */

  display: flex;
}

.mobHeader .feedControls div {
  margin: 0 2px 0 0;
}

.mobHeader .feedControls div.collapsible {
  /* visibility:hidden; */
  display:none;
}

.feedControl {
  cursor:pointer;
  font-size: var(--var-controls-font-size);

}

.feedControl:hover,
.media:hover {
  color: var(--ui-color-sec) !important;
}

.mobHeader .ui-button {
  padding: 0 !important;
}

.mobHeader .feedControls div i.ui-button:first-child {
  margin: 0 !important;
}

.handle {
  opacity: 0.6;
}

.handle,
#newTabButton a {
  color: var(--ui-color-pri) !important;
}

#newTabButton {
  width: 40px;
  background-color: var(--color-qua);
  text-align: center;
}

#newTabButton a {
  font-size: 21.2pt;
  margin:0;
  padding:0;
  background-color: var(--color-qua);
  width: 100%;
  /* color: var(--ui-color-pri) !important; */
}

.handle:hover,
#newTabButton a:hover {
  opacity: 1;
  color: var(--ui-color-sec) !important;
}

li.mobTab,
#newTabButton {
  box-shadow: inset 14px 0px 10px -3px rgba(0,0,0,0.19) !important;
}

li.ui-tabs-active,
div.ui-tabs-panel {
  background-color: var(--bg-color-ter) !important;
}

li.ui-state-hover:not(.ui-tabs-active) {
  background-color: var(--bg-color-ter) !important;
}

i.tabCloser,
li.ui-tabs-active a:link {
  color: var(--color-pri) !important;
}

i.tabCloser,
li.ui-tabs-tab a:link {
  color: var(--color-pri) !important;
}

.feed {
  /* border: #7a7a7a 1px solid !important; */
  padding: 0;
}

.feed:hover {
  /* border: #8b8b8b 1px solid !important; */
}

li.feed {
  background-color: var(--bg-color-pri) !important;
  transition: all .1s ease;

  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), -2px -2px 3px 0 rgba(0, 0, 0, 0.7) inset;
}

li.feed a:link {
  color: var(--color-pri);
  transition: all .2s;
}

li.feed a:visited {
  color: var(--color-ter);
}

li.feed a:hover {
  color: var(--color-ter);
}

.mobHeader {
  background-color: var(--bg-color-pri);
  color: var(--color-pri);
}

li.feedItem {
  background-color: var(--bg-color-sec) !important;
}

li.feedItem:nth-child(even) {
  background-color: var(--bg-color-qua) !important;
}

li.feedItem:hover {
  background-color: var(--bg-color-pri) !important;
  color: #000 !important;
}

#progressBar > #cursor {
  width: 1%;
  height: 2px;
  background-color: var(--color-sec);
  box-shadow: 0px 0px 6px 5px rgba(227,239,243,.2);
}

.fancybox-thumbs {
  background-color: var(--bg-color-qua) !important;
}

/* IntroJS (help tooltips) */
.introjs-tooltip {
  background-color: var(--bg-color-qua) !important;
  color: var(--color-pri);
}

/* IntroJS (help tooltips) */

.introjs-tooltip a:link,
.introjs-tooltip a:visited {
  color: var(--ui-color-pri) !important;
}

.introjs-tooltip a:hover,
.introjs-tooltip a i:hover,
.introjs-tooltip a i:active {
  color: var(--ui-color-sec) !important;
}

/* Gallery */

.fancybox-thumbs > ul > li::before {
  border: 4px solid var(--ui-color-sec) !important;
}

#indicatorContainer {

  color: var(--ui-color-sec) !important;

  cursor:pointer;
  transition: opacity .5s;
  opacity: .5;
  position: fixed;
  bottom: 2em;
  right: 2em;
}

#indicatorContainer:hover {
  opacity: 1;
}

/* Rs Widget */

/* .rs-widget { */
/*   background-color: var(--ui-color-qua) !important; */
/*   color: var(--ui-color-pri) !important; */
/*   box-shadow: none !important; */
/* } */

/* #remotestorage-widget { */
/*   background-color: var(--ui-color-qua) !important; */

/*   position: absolute; */
/*   top: 0; */
/*   right: 0; */

/*   /\* float:right; *\/ */
/* } */

#remotestorage-widget {
  color: var(--ui-bg-color-pri) !important;
}

#remotestorage-widget > .rs-widget {
  margin: 0 0 .4em 0;
  padding-left: 0;
  border-radius: 3px;
}

/* .rs-main-logo { */
/*   margin: 3px 0 0 15px !important; */
/* } */

/* .rs-button-small { */
/*   background-color: #ededed !important; */
/*   border-color: #ededed !important; */
/*   margin: 2px 0 0 0 !important; */
/* } */

/* .rs-button-small:first-child { */
/*   margin: 2px 0 0 6px !important; */
/* } */

/* .rs-box-connected { */
/*   margin: 0 6px 0 0 !important; */
/* } */

/* .rs-disconnect:hover { */
/*   border-color: var(--ui-color-sec); */
/* } */

/* .rs-disconnect:hover .rs-icon{ */
/*   fill: var(--ui-color-sec); */
/* } */

/* .rs-sync:hover { */
/*   border-color: #FFBB0C; */
/* } */

/* .rs-sync:hover .rs-icon { */
/*   fill: #FFBB0C; */
/* } */

/* .rs-sync.rs-rotate { */
/*   border-color: #FFBB0C; */
/* } */

/* .rs-sync.rs-rotate .rs-icon { */
/*   fill: #FFBB0C; */
/*   animation: rs-spin 1s linear infinite; */
/* } */

/* MenuBar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  height: 45px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav > div.menuBarItem {
  float: left;
  text-align: center;
  margin: 0 26px 0 5px;
}

.topnav > div#logoTitle {
  display: none;
}

.topnav > div.menuBarItem > .logoType {
  display: block;
  font-size: 32pt;
  margin: -2px 0 0 0;
}

.topnav > div.menuBarItem > .logoTitle {
  margin: -6px 0 0 0 !important;
  font-family: 'LobsterRegular';
  font-size: 36pt;
  color: var(--ui-color-pri);
}

.topnav > div.menuBarItem {
  cursor:pointer;
}

.topnav > div#petrolette {
  transition: all .2s;
  color: #943e1f;
}

.topnav > div#petrolette:hover {
  color: var(--ui-color-sec) !important;
}

.topnav > div.menuBarItem > .logoHandle {
  /* margin: 0 0 0 5px; */
  /* font-family: 'LobsterRegular'; */
  font-size: 29pt;
}

#betaBadge {
  position:absolute;
  opacity: .8;
  font-size:9pt;
  top: 3px;
  left: 227px;
  background: var(--ui-color-sec);
  color: var(--ui-color-pri);
  padding: 2px;
  border-radius: 10%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
