:root {
  --color-text: #1B426F;
  --color-dim: #555;
  --color-background: #f0f2f9;
  --color-dialog-bg: #e5e8f5;
  --color-dialog-border: #D4D6DE;
  --color-scrollbar: #ADB9E1;
  --color-border: #CCCCCC;
  --color-button-bg: #1B426F;
  --color-button-bg-active: #007FFF;
  --color-button-border: #FEDBD0;
  --color-button-text: #F7F8FC;
  --color-button-hover: #007FFF;
  --color-link: #1B426F;
  --color-link-visited: #888;
  --color-link-hover: #007FFF;
  --color-tab-border: #404552;
  --color-feed-control: #F77F00;
  --color-feed-control-hover: #007FFF;
  --color-feed-title: #1B426F;
  --font-feed-title: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  --color-feed-border: #ADB9E1;
  --color-feed-header-bg1: #d6e5f0;
  --color-feed-header-bg2: #eaf2f8;
  --color-feed-header-bg3: #d2e3ef;
  --color-feed-bg: #E9EBEF;
  --color-feed-bg-alt: #D4D6DE;
  --color-feed-bg-hover: #A2AFDD;
  --color-tab-active-fg: #1F262E;
  --color-tab-active-bg: #1F262E;
  --color-tab-inactive-fg: #1F262E;
  --color-tab-inactive-bg: #E2E6F4;
  --color-tab-hover: #A2AFDD;
  --color-danger: #DC3545;
  --color-search-result-hilight: #FF0;
  --color-scrollbar-track: #eaf2f8;
  --color-scrollbar-thumb: #d6e5f0;
}
