:root {
  --bg-color-pri: #C3DCD9;
  --bg-color-sec: #eeeeee;
  --bg-color-ter: #7C818C;
  --bg-color-qua: #e3eff3;
  --color-pri: #3C4440;
  --color-sec: #dddddd;
  --color-tri: #FFDC00;
  --color-qua: #7395AE;
  --color-danger: #660000;
}

.arrow {
  background-image: url("/static/images/feed-toggle-triangle-000.png") !important;
}
