:root {
  --color-text: #FFFFFF;
  --color-dim: #CCC;
  --color-background: #202b38;
  --color-dialog-bg: #1F262E;
  --color-dialog-border: #19B5FE;
  --color-scrollbar: #555;
  --color-border: #1F262E;
  --color-button-bg: #F6F6F6;
  --color-button-bg-active: #007FFF;
  --color-button-border: #CCCCCC;
  --color-button-text: #202b38;
  --color-button-hover: #CCC;
  --color-link: #C6DAF1;
  --color-link-visited: #888;
  --color-link-hover: #19B5FE;
  --color-tab-border: #404552;
  --color-feed-control: #F77F00;
  --color-feed-control-hover: #19B5FE;
  --color-feed-title: #C6DAF1;
  --font-feed-title: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  --color-feed-border: #1F262E;
  --color-feed-header-bg1: #303b48;
  --color-feed-header-bg2: #202b38;
  --color-feed-header-bg3: #1F262E;
  --color-feed-bg: #383C4A;
  --color-feed-bg-alt: #424657;
  --color-feed-bg-hover: #1F262E;
  --color-tab-active-fg: #19B5FE;
  --color-tab-active-bg: #1F262E;
  --color-tab-inactive-fg: #1F262E;
  --color-tab-inactive-bg: #29323C;
  --color-tab-hover: #424657;
  --color-danger: #DC3545;
  --color-search-result-hilight: #FF0;
  --color-scrollbar-track: #202b38;
  --color-scrollbar-thumb: #404552;
}
