:root {
  --bg-color-pri: #383C4A;
  --bg-color-sec: #4B5162;
  --bg-color-ter: #7C818C;
  --bg-color-qua: #404552;
  --bg-color-qui: #404552;
  --color-pri: #ffffff;
  --color-sec: #dddddd;
  --color-ter: #fdfae9;
  --color-qua: #29323c;
  --color-danger: #660000;
}

.arrow {
  background-image: url("/static/images/feed-toggle-triangle-fff.png") !important;
}
